@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300');

body {
  background: #0f0f23; /*337 x 5*/
  color: #cccccc;
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;

  margin: 8px;
}

img {
  border: 0;
}

a {
  outline: 0;
}

main,
figure,
figcaption {
  display: block;
}

header,
main {
  -webkit-text-size-adjust: none;
}

hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;

  opacity: 20%;
}
