/**
 * Obsidian style
 * ported by Alexander Marenin (http://github.com/ioncreature)
 *
 * With some modifications to fit AoC theme.
 */

.hljs {
  background: darken(#0f0f23, 2%);
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-selector-id {
  color: #009900;
}

.hljs-number {
  color: #ffff66;
}

.hljs-attribute {
  color: #cccccc;
}

.hljs-regexp,
.hljs-link {
  color: #d39745;
}

.hljs-meta {
  color: #557182;
}

.hljs-tag,
.hljs-name,
.hljs-bullet,
.hljs-subst,
.hljs-emphasis,
.hljs-type,
.hljs-built_in,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #8cbbad;
}

.hljs-string,
.hljs-symbol {
  color: #ec7600;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion {
  color: #818e96;
}

.hljs-selector-class {
  color: #a082bd;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-code,
.hljs-title,
.hljs-title.class_,
.hljs-class .hljs-title,
.hljs-section {
  color: #ffff66;
}
